canvas {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100vw;
  /*max-height: 100vh;*/
  margin: auto;
  display: block;
}

/*main{
  height: 300px;
}*/
.content {
  position: relative;
  padding: 20px;
}

