canvas {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100vw;
  /*max-height: 100vh;*/
  margin: auto;
  display: block;
}
.content {
  position: relative;
  padding: 20px;
}

